@charset "ISO-8859-1";



.reservation-form-box
{
	max-width: 500px;
	max-height:500px;
	border:1px solid #ced4da;
	margin: 10% auto 0;
}

.reservation-form
{
	padding: 0 20px 20px;
}

.reservation-form label
{
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 15px;
	color: #fff;
}

input::placeholder
{
	color: #fff !important;
}


.input-grp
{
	width: 150px;
	display: inline-block;
}



.form-control
{
	font-size: 12px !important;
	border-radius: 0 !important;
	color: #fff !important;
	background: transparent !important;
	box-shadow: none!important;
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

.select-date::-webkit-calender-picker-indicator
{
	background: transparent !important;

}


.car
{
	/*width: 100px;
	padding: 9px 0!important;
	font-size:12px!important;
	border: 1px solid #ced4da !important;
	box-shadow: none!important;
	border-radius: 0 !important;*/
	
	 background-color: 2edaff;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	
}

.car:hover
{
	 background-color: transparent !important;
	/*background: #fff!important;
	color: #000 !important;*/
	transition: 0.5s;
}


.button {
  background-color: #2edaff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.ui-datepicker-calendar{

    background: hsla(0, 0%, 0%, 0.35);

}

.ui-datepicker-calendar th{
    padding: 5px 10px;
    color: #fff;
    border-collapse: collapse;

}
.ui-datepicker-calendar td{
    width: 60px;
    height: 35px;

}


.ui-datepicker-title{
    background: hsla(0, 0%, 0%, 0.50);
    padding: 10px;
    text-align: center;
    color: #fff;

}
.ui-datepicker-calendar td a{
    padding: 10px;
    color: #e5e6e7;
    font-size: 11px;
    text-decoration: none;

}

.ui-datepicker-calendar td a:hover{
    background: #828caa;
    color: #fff;


}

.ui-datepicker-prev{
    float: left;
    padding: 10px;
    color: #fff;

}
.ui-datepicker-prev span{cursor: pointer;}.ui-datepicker-next span{cursor: pointer}

.ui-datepicker-next{
    float: right;
    padding: 10px;
    color: #fff;
}
